
h1.heading {
    font-size: 30px;
    color: #CBC69D;
    text-align: left;
    padding: 0;
    margin: 0;
    display: inline-block;    
}
h2.heading{
    font-size: 15px;
    color: #686655;
    text-align: left;
    padding: 0;
    margin: 0;
    font-style: italic;
    display: inline-block;
}
h2.about-me{
    border: none;
    color: #CBC69D;
    font-size: 70px;
}
h3{
    max-width:  800px;
    font-size: large;
    color:#191A1A;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    margin-left: 50px;
}
h4{
    font-size: xx-large;
    color: #191A1A;
}
div.picture{
    margin-top: 30px;
    float: right;
    display: flex;
}
.middle{
    background: #CBC69D;
    display: flex;
    margin-top: 90px;
    margin-bottom: 100px;
}
.column-left {
    flex: 100%;
    padding: 10px;
}
.column-right {
    flex: 30%;
    padding: 10px;
}
.border-right {
    border-right: 5px solid#191A1A
}
.button {
    background: #191A1A;
    border: none;
    color: #CBC69D;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.back{
    position:absolute; 
    top:0; 
    right:0;
    font-size: 30px;
    display: inline-block;

}
.title-heading{
    text-align: center;
    font-size: 50px;
}
.borderbox{
    padding: 10px ;
    border: 1px solid #7c0000;
    background-color:#7c0000;
    float: left;
}
.main{
   text-align: center;
}