h1 {
    font-size: 75px;
    color: #CBC69D;
    text-align: center;
}
h2{
    font-size: xx-large;
    color: white;
    text-align: center;
    font-style: italic;
}
h3{
    max-width:  800px;
    font-size: large;
    color:#191A1A;
    text-align: center;
    line-height: 40px;
    display: inline-block;
}
h4{
    font-size: xx-large;
    color: #191A1A;
}
div.picture{
    float: right;
    margin-bottom: 10em;
    display: flex;
}
.middle{
    background: #CBC69D;
    display: flex;
}
.column-left {
    flex: 100%;
    padding: 10px;
}
.column-right {
    flex: 30%;
    padding: 10px;
}
.border-right {
    border-right: 5px solid#191A1A
}
.button {
    background: #191A1A;
    border: none;
    color: #CBC69D;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
  }
.back{
    position:absolute; 
    top:0; 
    right:0;
    font-size: 30px;
}