body{
    background-color:  #191A1A;
    margin: 0;
    padding: 0;
}
.borderbox{
    padding: 10px ;
    border: 1px solid #7c0000;
    background-color:#7c0000;
    float: left;
}
h1.heading {
    font-size: 30px;
    color: #CBC69D;
    text-align: left;
    padding: 0;
    margin: 0;
    display: inline-block;    
}
h2.heading{
    font-size: 15px;
    color: #686655;
    text-align: left;
    padding: 0;
    margin: 0;
    font-style: italic;
    display: inline-block;
}

h3.heading-small-projects{
    font-size: 50px;
    font-style: italic;
    color: #CBC69D;
    text-align: left;
    position:absolute;
    top:20%;
    left:20%;
    margin-top:-50px; /* this is half the height of your div*/  
    margin-left:-100px;
}
h3.heading-large-projects{
    font-style: italic;
    font-size: 50px;
    color: #CBC69D;
    text-align: left;
    position:absolute;
    top:20%;
    left:75%;
    margin-top:-50px; /* this is half the height of your div*/  
    margin-left:-100px;
}
.button-back {
    background: #191A1A;
    border: none;
    color: #CBC69D;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute; 
    top:0; 
    right:0;
    font-size: 30px;
    display: inline-block;
    transition: 0.7s;
}
.button-back:hover{
    color: #191A1A;
    background: #CBC69D;
}
img.insta{
    top:25%;
    left:17%;
}
img.reddit{
    top:50%;
    left:18.5%;
}

img.website{
    top:25%;
    right:17%;
}

img.cmsc{
    top:50%;
    right: 18%
}

